<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/dist/output.css">

  <title>Document</title>
</head>
<body>

  <%- include("../partials/adminNavBar.ejs") %>
  <%- include("../partials/sidebar.ejs") %>  
     
<!-- main content -->
  <div class="p-4 sm:ml-64">
  <div class="p-4 border-2 border-gray-200  dark:border-gray-700 mt-14">

<!-- search -->
<div class="flex justify-center border-l-neutral-950 pt-6  ">
  <div >
     <form action="" method="">
        <input id="userSearch" class="bg-gray-300 h-9 " type="search" name="search" placeholder="       Search...">
     </form>
  </div> 

  <div class="bg-slate-500 w-16 mt-3 rounded-xl pl-2 ml-3">
           <a href="/admin/catagory">CLEAR</a>            
 </div> 
</div>
<!-- add catagory -->
<div class="px-6 pt-11">
   <a href="/admin/addcatagory" class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded transition duration-300 ease-in-out">
      ADD CATAGORY +
   </a>
</div>
<!-- useer content -->
<div class="shadow-lg rounded-lg overflow-hidden mx-4 md:mx-10 pt-11">
   <table class="w-full table-fixed">
     <thead>
       <tr class="bg-gray-100">
         <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">IMAGE</th>
         <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">CATAGORY NAME</th>
         <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">DISCRIPTION</th>
         <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">DATE OF SUBMISSION</th>
         <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">ACTION</th>

       </tr>
     </thead>
     <tbody class="bg-white">
       <% data.forEach(user => { %>
       <tr>
          <td class="py-4 px-6 border-b border-gray-200"> <img src="<%= user.category_img_url%> " alt="no  img"> </td>
         <td class="py-4 px-6 border-b userName border-gray-200" ><%= user. product_category %></td>
         <td class="py-4 px-6 border-b border-gray-200"><%= user.category_description %></td>
         <td class="py-4 px-6 border-b border-gray-200 text-center" > <%= new Date(user.category_publishDate ).toISOString().slice(0, 10) %></td>
         <td class="py-4 pl-11 border-b border-gray-200">
            <div class=" text-white px-4 py-2 rounded bg-blue-500 w-16 mb-4">
              <a href="/admin/editCatagory/<%= user._id %>">EDIT</a>
            </div>
          
            <button class="<%= user.blocked ? 'bg-red-500' : 'bg-green-500' %> text-white px-4 py-2 rounded" data-user-id = "<%= user._id %>"
              data-user-blocked = "<%= user.blocked %>" >
              <%= user.blocked ? 'UNLIST' : 'LIST' %>
             </button>
         </td>
       </tr>
       <% }); %>
     </tbody>
   </table>
 </div>
 <div id="popup-modal" tabindex="-1" class="hidden flex overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
  <div class="relative p-4 w-full max-w-md max-h-full">
      <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
          
          <div class="p-4 md:p-5 text-center">
              <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                  <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
              </svg>
              <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Press yes to confirm or no</h3>
              <button id="okBtn" data-modal-hide="popup-modal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center me-2">
                  Yes
              </button>
              <button id="cancelBtn" data-modal-hide="popup-modal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center me-2">
                no
            </button>          
            </div>
      </div>
  </div>
</div>


<section class="my-6">
  <div class="pagination flex justify-center gap-4">
    <% if (paginate.hasPreviousPages) { %>
      <a href="?page=<%= paginate.page - 1 %>"
        class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Previous</a>
      <% } %>

        <% if (paginate.hasNextPages && page < maxPage) { %>
          <a href="?page=<%= paginate.page + 1 %>"
            class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 focus:bg-blue-700 focus:outline-none transition duration-300 ease-in-out">
            Next
          </a>
          <% } %>

  </div>
  <p class="text-gray-900 font-bold flex justify-center"><%= paginate.page %> out of <%= maxPage %></p>

</section>

 <script>
   const changeColour =document.getElementById("c");
   changeColour.style.backgroundColor = "#000000";
 </script>

<script>
  const buttons = document.querySelectorAll("button");
  const popupModal = document.getElementById('popup-modal');
        const okBtn = document.getElementById('okBtn');
        const cancelBtn = document.getElementById('cancelBtn');

  buttons.forEach(button => {
    button.addEventListener("click",async()=>{
      popupModal.classList.remove('hidden');
      okBtn.addEventListener("click",()=>{
        console.log('hai');
      const userId = button.getAttribute("data-user-id");
      const userBlocked = button.getAttribute("data-user-blocked")

      const tdElement = button.closest('tr').querySelector('.userName');
        const productCategoryValue = tdElement.textContent;

        // Now you can use productCategoryValue as needed
        console.log(productCategoryValue);
     
      fetch(`/admin/deleteCatagory/${userId}`,{ 
            method : "PUT",
            headers:{
              'Content-Type': 'application/json',
            },
            body : JSON.stringify({
              blocked: userBlocked,
              productCategoryValue
            }),
      }).then(res=>res.json()).then(data=>{
        if(data.success){
           window.location.reload()
        }
      }).catch(error=>{
        console.log(error);
      })
    })
    cancelBtn.addEventListener("click",()=>{
          popupModal.classList.add('hidden');
          console.log('haighg');
        })
    })
  });
</script>

  <script src="/js/search.js"></script>
  
</body>
</html>