<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/dist/output.css">

  <title>Document</title>
</head>
<body>

  <%- include("../partials/adminNavBar.ejs") %>
  <%- include("../partials/sidebar.ejs") %>  
     
<!-- main content -->
  <div class="p-4 sm:ml-64">
  <div class="p-4 border-2 border-gray-200  dark:border-gray-700 mt-14">

<!-- search -->
<div class="flex justify-center border-l-neutral-950 pt-6  ">
  <div >
     <form action="" method="">
        <input id="userSearch" class="bg-gray-300 h-9 " type="search" name="search" placeholder="       Search...">
     </form>
  </div> 

  <div class="bg-slate-500 w-16 mt-3 rounded-xl pl-2 ml-3">
           <a href="/admin/catagory">CLEAR</a>            
 </div> 
</div>
<!-- add catagory -->
<div class="px-6 pt-11">
   <a href="/admin/addcatagory" class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded transition duration-300 ease-in-out">
      ADD CATAGORY +
   </a>
</div>
<!-- useer content -->
<div class="shadow-lg rounded-lg overflow-hidden mx-4 md:mx-10 pt-11">
   <table class="w-full table-fixed">
     <thead>
       <tr class="bg-gray-100">
         <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">IMAGE</th>
         <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">CATAGORY NAME</th>
         <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">DISCRIPTION</th>
         <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">DATE OF SUBMISSION</th>
         <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">ACTION</th>

       </tr>
     </thead>
     <tbody class="bg-white">
       <% data.forEach(user => { %>
       <tr>
          <td class="py-4 px-6 border-b border-gray-200"> <img src="<%= user.category_img_url%> " alt="no  img"> </td>
         <td class="py-4 px-6 border-b userName border-gray-200"><%= user. product_category %></td>
         <td class="py-4 px-6 border-b border-gray-200"><%= user.category_description %></td>
         <td class="py-4 px-6 border-b border-gray-200"><%= user.category_publishDate %></td>
         <td class="py-4 pl-11 border-b border-gray-200">
            <div class="">
              <a href="/admin/editCatagory/<%= user._id %>">EDIT</a>
            </div>
          
            <button class="<%= user.blocked ? 'bg-red-500' : 'bg-green-500' %> text-white px-4 py-2 rounded" data-user-id = "<%= user._id %>"
              data-user-blocked = "<%= user.blocked %>" >
              <%= user.blocked ? 'UNLIST' : 'LIST' %>
             </button>
         </td>
       </tr>
       <% }); %>
     </tbody>
   </table>
 </div>

 <script>
   const changeColour =document.getElementById("c");
   changeColour.style.backgroundColor = "#000000";
 </script>

<script>
  const buttons = document.querySelectorAll("button");
  buttons.forEach(button => {
    button.addEventListener("click",async()=>{
      const userId = button.getAttribute("data-user-id");
      const userBlocked = button.getAttribute("data-user-blocked")
      console.log("userId");
     
      fetch(`/admin/deleteCatagory/${userId}`,{ 
            method : "PUT",
            headers:{
              'Content-Type': 'application/json',
            },
            body : JSON.stringify({
              blocked: userBlocked,
            }),
      }).then(res=>res.json()).then(data=>{
        if(data.success){
           window.location.reload()
        }
      }).catch(error=>{
        console.log(error);
      })
    })
  });
</script>

  <script src="/js/search.js"></script>
  
</body>
</html>