<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/dist/output.css">

  <title>Document</title>
</head>
<body>

  <%- include("../partials/adminNavBar.ejs") %>
  <%- include("../partials/sidebar.ejs") %>  
     
<!-- main content -->
  <div class="p-4 sm:ml-64">
  <div class="p-4 border-2 border-gray-200  dark:border-gray-700 mt-14">

<!-- search -->


<!-- useer content -->
<div class="shadow-lg rounded-lg overflow-hidden mx-4 md:mx-10 pt-11">
   <table class=" table-fixed">
     <thead>
       <tr class="bg-gray-100">
         <th class="w-1/4 py-4 px-6 text-gray-600 font-bold text-center uppercase">Order Id</th>
         <th class="w-1/4 py-4 px-6 text-center text-gray-600 font-bold uppercase">User Name</th>
         <th class="w-1/4 py-4 px-6 text-center pl-16 text-gray-600 font-bold uppercase">Total amount</th>
         <th class="w-1/4 py-4 px-6 text-center text-gray-600 font-bold uppercase">Quantity</th>
         <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase"></th>
       </tr>
     </thead>
     <tbody class="bg-white">
       <% orderData.forEach(user => { %>
       <tr>
         <td class="py-4 px-6 border-b border-gray-200 text-center ">ODR <%= String(user._id).slice(19) %></td>
         <td class="py-4 px-6 border-b border-gray-200  text-center">
          <%const userName = userdata.find(item=>item._id.equals( user.user ))%>
          <%=userName.name%>
        </td>
         <td class="py-4 pl-16 border-b text-center border-gray-200"><%= user.totalAmount %></td>
         <%let c = 0 %>
         <td class="py-4 px-4 border-b text-center border-gray-200"><% user.products.forEach((prd)=>{%>

          <% prd.size.forEach((size,i)=>{ %>
            <% if(size!==0){ %>
              <%c++%>
              <% }%>
              <% }) %>
                 <% }) %>
                 
                 <%=c++%> <!-- quantity -->  
        </td>
         <td class= " border-gray-200 ">
          <div class="bg-blue-500 px-3 mr-2 rounded ">
              <a class="text-white " href="orderView/<%= user._id %>">VIEW</a>
          </div>
         </td>
       </tr>
       <% }); %>
     </tbody>
   </table>
 </div>

 <section class="my-6">
  <div class="pagination flex justify-center gap-4">
    <% if (paginate.hasPreviousPages) { %>
      <a href="?page=<%= paginate.page - 1 %>"
        class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Previous</a>
      <% } %>

        <% if (paginate.hasNextPages && page < maxPage) { %>
          <a href="?page=<%= paginate.page + 1 %>"
            class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 focus:bg-blue-700 focus:outline-none transition duration-300 ease-in-out">
            Next
          </a>
          <% } %>
  </div>
  <p class="text-gray-900 font-bold flex justify-center"><%= paginate.page %> out of <%= maxPage %></p>

</section>

 <script>
   const changeColour =document.getElementById("e");
   changeColour.style.backgroundColor = "#000000";
 </script>
  
</body>
</html>