<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/dist/output.css">

  <title>Document</title>
</head>
<body>

  <%- include("../partials/adminNavBar.ejs") %>
  <%- include("../partials/sidebar.ejs") %>  
   

  <!-- main content -->
  <div class="p-4 sm:ml-64">
     <div class="p-4 border-2 border-gray-200 dark:border-gray-700 mt-14">
<!-- search -->
<div class="flex justify-center border-l-neutral-950 pt-6  ">
  <div >
     <form action="" method="">
        <input id="userSearch" class="bg-gray-300 h-9 " type="search" name="search" placeholder="       Search...">
     </form>
  </div> 

  <div class="bg-slate-500 w-16 mt-3 rounded-xl pl-2 ml-3">
           <a href="/admin/product">CLEAR</a>            
 </div> 
</div>

<!-- add product -->
<div class="px-6 pt-11">
  <a href="/admin/addProduct" class="bg-blue-500 hover:bg-blue-700 text-white font-semibold py-2 px-4 rounded transition duration-300 ease-in-out">
     ADD PRODUCT +
  </a>
</div>
<!-- useer content -->
<div class="shadow-lg rounded-lg overflow-hidden mx-4 md:mx-10 pt-11">
  <table class="w-full table-fixed">
    <thead>
      <tr class="bg-gray-100">
        <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">IMAGE</th>
        <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">PRODUCT NAME</th>
        <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">DISCRIPTION</th>
        <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">CATAGORY</th>
        <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">PRICE</th>
        <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">QUANTITY</th>
        <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">BRAND</th>
        <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">ACTION</th>



      </tr>
    </thead>
    <tbody class="bg-white">
      <% data.forEach(user => { %>
      <tr>
         <td class="py-4 px-6 border-b border-gray-200"> <img src="<%=user.product_img_url[0]%>" alt="no image"> </td>
        <td class="userName py-4 px-6 border-b border-gray-200"><%=user.product_name%></td>
        <td class="py-4 px-6 border-b border-gray-200"><%=user.product_description%></td>
        <td class="py-4 px-6 border-b border-gray-200"><%=user.product_category%></td>
        <td class="py-4 px-6 border-b border-gray-200"><%=user.product_price%></td>
        <td class="py-4 px-6 border-b border-gray-200"><%=user.product_qty%></td>
        <td class="py-4 px-6 border-b border-gray-200"><%=user.product_brand%></td>
        <td class="py-4 pl-11 border-b border-gray-200">
           <div class="">
             <a href="/admin/editProduct/<%= user._id %>">EDIT</a>
           </div>
           <div>
              <a href="/admin/deleteProduct/<%= user._id %>">DELETE</a>
           </div>
        </td>

      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
 
<section class="my-6">
  <div class="pagination flex justify-center gap-4">
    <% if (paginate.hasPreviousPages) { %>
      <a href="?page=<%= paginate.page - 1 %>"
        class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Previous</a>
      <% } %>

        <% if (paginate.hasNextPages && page < maxPage) { %>
          <a href="?page=<%= paginate.page + 1 %>"
            class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 focus:bg-blue-700 focus:outline-none transition duration-300 ease-in-out">
            Next
          </a>
          <% } %>
  </div>
</section>
 
 <script>
  const changeColour =document.getElementById("d");
  changeColour.style.backgroundColor = "#000000";
</script>

<script src="/js/search.js"></script>


</body>
</html>