<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/dist/output.css">
  
  <title>Document</title>
</head>
<body>


<%- include("../partials/adminNavBar.ejs") %>
<%- include("../partials/sidebar.ejs") %>  

  <!-- main content -->
  <div class="p-4 sm:ml-64">
     <div class="p-4 border-2 border-gray-200  dark:border-gray-700 mt-14">

   
  <div class="flex justify-end mb-14 mr-20 gap-3">
    <button onclick="dateFilter()" class=" bg-gray-400 text-black font-bold py-2 px-4 rounded">Date Filter</button>
    <button class="download-btn bg-gray-400 hover:bg-blue-400 text-black font-bold py-2 px-4 rounded" onclick="downloadSalesReport('xlsx')">Download Excel</button>
    <button class="download-btn bg-gray-400 hover:bg-orange-400 text-black font-bold py-2 px-4 rounded">
      <a href="/admin/salesReportPDF/?datafrom=<%= dataFrom %>&datato=<%= dataTo %>" >
        PDF
      </a> 
    </button>

  </div>

  <div class="w-full flex justify-center hidden" id="openDateFilter">
    <button id="closs" class="absolute right-64 text-gray-400 hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8  flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white close-coupon-Box-edit">
      <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
          d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
      </svg>
    </button>
  <div class="  w-fit">
    <div class="flex justify-center gap-3  ">
      <span>
        DATE FROM 
      </span>
      <button class=" bg-gray-200  text-black font-bold py-2 px-4 rounded"><input oninput="date1()" type="date" name="dateForm" id="date1"></button>
    
      <span>
      DATE TO
    </span>
      <button class=" bg-gray-200  text-black font-bold py-2 px-4 rounded"><input oninput="date2()" type="date" name="dateTo" id="date2"></button>
    </div>  
      <br>
      <button onclick="dateSubmit()" class="flex justify-center w-full  bg-gray-200  text-black font-bold py-2 px-4 rounded">
        SUBMIT
      </button>
  </div>    
</div>

<!-- useer content -->
<div class="shadow-lg rounded-lg overflow-hidden mx-4 md:mx-10 pt-11">
   <table class="w-full table-fixed">
     <thead>
       <tr class="bg-gray-100">
         <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">Username</th>
         <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">Product Name</th>
         <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">Quantity</th>
         <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">Price</th>
         <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">Status</th>
         <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">Order Date</th>
         <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">Address</th>

       </tr>
     </thead>
     <tbody class="bg-white">
       <%orderProducts?.forEach((data,i)=>{%>
  
       <tr>
         <td class="py-4 px-6 border-b border-gray-200"><%=data.shippingAddress.full_name%></td>
         <td class="py-4 px-6 border-b border-gray-200"><%=data.Allproducts[0]?.product_name%></td>
         <td class="py-4 px-6 border-b border-gray-200"><%=data.products.size%></td>
         <td class="py-4 px-6 border-b border-gray-200"><%=data.products.price%></td>
         <td class="py-4 px-6 border-b border-gray-200"><%=data.Status%></td>
         <td class="py-4 px-6 border-b border-gray-200"><%= new Date(data.createdAt ).toISOString().slice(0, 10) %></td>
         <td class="py-4 px-6 border-b border-gray-200"><%=data.shippingAddress.address%></td>
       </tr>
       <% })%>

     </tbody>
   </table>
 </div>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.1/xlsx.full.min.js"></script>

 <script>
  const changeColour =document.getElementById("h");
  changeColour.style.backgroundColor =  "#000000";
</script>
<script>
  function downloadSalesReport(fileType) {
    const ws = XLSX.utils.table_to_sheet(document.querySelector('table'));
    const wb = XLSX.utils.book_new();
    XLSX.utils.book_append_sheet(wb, ws, 'Sales Report');
    XLSX.writeFile(wb, `sales_report.${fileType}`);
  }
</script>
<%if(message){%>
  <script>
    alert('Invalid date')
  </script>
  <%}%>
<script>
  function downloadSaleReport() {
      window.print();
  }
</script>
<script>
  function dateFilter() {
    console.log('sjdghshjd');
    const openDateFilter = document.getElementById('openDateFilter')
    openDateFilter.classList.remove('hidden')

  }  
  const closs = document.getElementById('closs')
  closs.addEventListener('click', function () {
      
      openDateFilter.classList.add('hidden');
      console.log('sdhs');
    });


  let dateFrom;
  let dateTo
  function date1() {
    dateFrom = document.getElementById('date1').value;
    console.log(dateFrom);
  }
  function date2() {
    dateTo = document.getElementById('date2').value;
    console.log(dateTo);
  }

  function dateSubmit() {
   
    window.location.href = `/admin/salesReport/?dateFrom=${dateFrom}&dateTo=${dateTo}`

 
  }

 
</script>
</body>
</html>