<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>ADDRESS</title>
  <link rel="icon" type="image/x-icon" href="/image/icons8-n-50.png">
  <link rel="stylesheet" href="/dist/output.css">
</head>

<body>

  <%- include('../partials/navbar.ejs') %>

    <!-- Button to trigger the add -->
    <button id="openModal" class=" bg-blue-500 text-white py-2 px-4 rounded mt-10 ml-5">ADD ADDRESS +</button><br>
    <button onclick="selectAddress()" class=" bg-blue-500 text-white py-2 px-4 rounded mt-10 ml-5">SELECT ADDRESS</button>

    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++     ADD ADDRESS    ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <div id="myModal" class="fixed inset-0 z-50 hidden overflow-auto bg-black bg-opacity-50">
      <div class="flex items-center justify-center h-full">
        <div class="bg-white p-8 rounded shadow-lg">

          <div class="flex justify-end">
            <button id="closeModal" class="text-gray-600 hover:text-gray-800">&times;</button>
          </div>

          <div>
            <h2 class="font-semibold text-xl text-gray-600">ADD ADDRESS</h2>

            <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
              <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
                <div class="text-gray-600">
                  <p class="font-medium text-lg">Personal Details</p>
                  <p>Add your personal details.</p>
                </div>
                
                <form action="/addressPost" id="formData" method="post" onsubmit="return v()">
                  <div class="lg:col-span-4">
                    <div class="grid gap-4 gap-y-2 text-sm grid-cols-2 md:grid-cols-2">
                    
                      <div class="md:col-span-3">
                        <label for="">Full Name</label>
                        <input oninput="nameValidation()" type="text" name="full_name" id="full_name"
                          class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value=""  />
                          <p id="nameError" class="text-xs text-red-500"></p>
                      </div>

                    <div class="md:col-span-5">
                      <label for="">Address / Street</label>
                      <input oninput="addressValidation()" type="text" name="address" id="address"
                        class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" placeholder="" />
                        <p id="addressError" class="text-xs text-red-500"></p>
                      </div>

                    <div class="md:col-span-3">
                      <label for="">Phone number</label>
                      <input oninput="numberValidation()" type="text" name="phone" id="phone"
                        class="transition-all flex items-center h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                        placeholder="" value="" />
                        <p id="phoneError" class="text-xs text-red-500"></p>
                    </div>

                    <div class="md:col-span-3 ">
                      <label for="city">City</label>
                      <input oninput="cityValidation()" type="text" name="city" id="city" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                        value="" placeholder="" />
                        <p id="cityError" class="text-xs text-red-500"></p>
                    </div>

                    <div class="md:col-span-2">
                      <label for="country">Country / region</label>
                      <div class="h-10 bg-gray-50 flex border border-gray-200 rounded items-center mt-1">
                        <input  id="country" placeholder="Country"
                          class="px-4 appearance-none outline-none text-gray-800 w-full bg-transparent" value="" />
                          <select name="country" class="border-none bg-transparent flex-1 cursor-pointer appearance-none focus:outline-none">
                            <option value="AU">Australia</option>
                            <option value="BE">Belgium</option> 
                            <option value="BR">Brazil</option>
                            <option value="CA">Canada</option>
                            <option value="CN">China</option>
                            <option value="DK">Denmark</option>
                            <option value="FI">Finland</option>
                            <option value="FR">France</option>
                            <option value="DE">Germany</option>
                            <option value="HK">Hong Kong</option>
                            <option value="IE">Ireland</option>
                            <option value="IT">Italy</option>
                            <option value="JP">Japan</option>
                            <option value="LU">Luxembourg</option>
                            <option value="MX">Mexico</option>
                            <option value="NL">Netherlands</option>
                            <option value="PL">Poland</option>
                            <option value="PT">Portugal</option>
                            <option value="SG">Singapore</option>
                            <option value="ES">Spain</option>
                            <option value="TN">Tunisia</option>
                            <option value="GB">United Kingdom</option>
                            <option value="US" selected="selected">United States</option>
                        </select>
                      </div>
                    </div>

                    <div class="md:col-span-3">
                      <label for="state">State / province</label>
                      <div class="h-10 bg-gray-50 flex border border-gray-200 rounded items-center mt-1">
                        <input  id="state" placeholder="State"
                          class="px-4 appearance-none outline-none text-gray-800 w-full bg-transparent" value="" />
                          <select name="state" class="border-none bg-transparent flex-1 cursor-pointer appearance-none focus:outline-none">
                            <option value="KL">kerala</option>
                            <option value="TN">tamil nadu</option> 
                            <option value="GA">goa</option>
                            <option value="KN">karnataka</option>
                            <option value="MH">maharashtra</option>
                            <option value="AN">andra</option>
                            <option value="kl" selected="selected">kerala</option>
                        </select>
                      </div>
                    </div>

                    <div class="md:col-span-1">
                      <label for="">Pin code</label>
                      <input oninput="pinValidation()" type="text" name="zipcode" id="zipcode"
                        class="transition-all flex items-center h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                        placeholder="" value=""  />
                        <p id="zipcodeError" class="text-xs text-red-500"></p>
                    </div>

                    <div class="md:col-span-5 text-right">
                      <div class="inline-flex items-end">
                        <button type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit</button>
                      </div>
                    </div>
                    
                  </div>
                </div>
                
                <p  id="alert" class="text-red-600 text-x"></p>

                </form>
            
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>

    
      <!-- Include Tailwind JS for toggling modal visibility -->
      <script src="https://cdn.jsdelivr.net/npm/alpinejs@2.8.2/dist/alpine.min.js" defer></script>

      <script>
        // Alpine.js script to toggle modal visibility
        document.getElementById('openModal').addEventListener('click', function () {
          document.getElementById('myModal').classList.remove('hidden');
          document.getElementById('myModal').classList.add('flex');
        });

        document.getElementById('closeModal').addEventListener('click', function () {
          document.getElementById('myModal').classList.add('hidden');
          document.getElementById('myModal').classList.remove('flex');
        });
      </script>

<script>
  function v(){       
    const name = document.getElementById("full_name").value;
    const address = document.getElementById("address").value;
    const alert = document.getElementById("alert");

    if (address.trim() === "" || name.trim() === "" ) {
            alert.innerHTML="please fill all the field"
            return false; 
          }
    return nameValidation() && emailValidation()
  }
</script>

<script>
    function nameValidation() {
    const name = document.getElementById("full_name").value.trim();
    const nameError = document.getElementById("nameError");
    
    // Regular expression to check if the name contains only letters
    const onlyLettersRegex = /^[a-zA-Z]+$/;

    if (name === '') {
        nameError.innerText = "Name cannot be empty";
        return false; // Indicate validation failure
    } else if (!onlyLettersRegex.test(name)) {
        nameError.innerText = "Name can only contain letters";
        return false; // Indicate validation failure
    } else if (name.length < 5) {
        nameError.innerText = "Name should be at least 5 characters long";
        return false; // Indicate validation failure
    } else {
        nameError.innerText = ""; // Clear error message
        return true; // Indicate validation success
    }
}


function addressValidation() {
 const name = document.getElementById("address").value.trim();
 const nameError = document.getElementById("addressError");

 if (name === '' ) {
     nameError.innerText = "Can not add space";
     return false; // Indicate validation failure
 } else if(name.length > 30 ){
     nameError.innerText = "words should not exceed above 30";
     return false; // Indicate validation failure
 }else if(name.length<6){
  nameError.innerText = "Invalid address";
 }
 else {
     nameError.innerText = ""; // Clear error message
     return true; // Indicate validation success
 }
}


function cityValidation() {
 const namecity = document.getElementById("city").value.trim();
 const cityError = document.getElementById("cityError");

 if (namecity === '' ) {
  cityError.innerText = "Can not add space";
     return false; // Indicate validation failure
 }
 else if (!isNaN(namecity)) {
  cityError.innerText = "Invalid, should not be a number";
  return false; // Indicate validation failure
}
 else if(namecity.length > 15 ){
  cityError.innerText = "words should not exceed above 15";
     return false; // Indicate validation failure
 }
 else {
     nameError.innerText = ""; // Clear error message
     return true; // Indicate validation success
 }
}



function numberValidation() {
 const name = document.getElementById("phone").value.trim();
 const nameError = document.getElementById("phoneError");

 if (name === '' ) {
     nameError.innerText = "Can not add space";
     return false; // Indicate validation failure
 } else if(name.length != 10 ){
     nameError.innerText = "inavlid number";
     return false; // Indicate validation failure
 }else if(isNaN(name)){
   nameError.innerText = "should be number"
     }
 else {
     nameError.innerText = ""; // Clear error message
     return true; // Indicate validation success
 }
}


function pinValidation() {
 const name = document.getElementById("zipcode").value.trim();
 const nameError = document.getElementById("zipcodeError");

 if (name === '' ) {
     nameError.innerText = "Can not add space";
     return false; // Indicate validation failure
 } else if(name.length != 6 ){
     nameError.innerText = "pin Invalid";
     return false; // Indicate validation failure
 }else if(isNaN(name)){
   nameError.innerText = "should be number"
     }
 else {
     nameError.innerText = ""; // Clear error message
     return true; // Indicate validation success
 }
}
</script>


<link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">

    <!-- ++++++++++++++++++++++++++++++++++++++++++++++++     VIEW ADDRESS    ++++++++++++++++++++++++++++++++++++++++++++++++++ -->
    <% if(addressColection == 0){ %>
      <div class="  h-80 w-full inset-0  text-center" id="confirm"></div>
      <p class=" h-80 w-full inset-0  text-center ">ADD EMPTY</p>
    <%  }  %>

    <% addressColection.forEach(addressColection=>{ %>

      
      <div class="newSlectAd flex justify-center items-center ">
        <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6 w-full md:w-2/3 lg:w-1/2">
          <input class="selectad" id="selectAd" data-address-id="<%=addressColection._id%>" type="radio" name="select" >     
          <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-1">

          <form action="#" id="">
            <div class="lg:col-span-2">
              <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-1">


                <div class="md:col-span-2 ">
                  <label for="full_name">Full Name</label>
                  <p class="flex items-center h-10 border mt-1 rounded px-4 w-full bg-gray-50"> <%=addressColection.full_name %> </p>
                </div>

             

                <div class="md:col-span-3">
                  <label for="address">Address / Street</label>
                  <p class="flex items-center h-10 border mt-1 rounded px-4 w-full bg-gray-50"><%=addressColection.address %> </p>

                </div>

                <div class="md:col-span-1">
                  <label for="phone">Phone number</label>
                  <p class="flex items-center h-10 border mt-1 rounded px-4 w-full bg-gray-50"><%=addressColection.phone %> </p>

                </div>

                <div class="md:col-span-2">
                  <label for="city">City</label>
                  <p class="flex items-center h-10 border mt-1 rounded px-4 w-full bg-gray-50"><%=addressColection.city %> </p>

                </div>

                <div class="md:col-span-2">
                  <label for="country">Country / region</label>
                  <div class="h-10 bg-gray-50 flex border border-gray-200 rounded items-center mt-1">
                    <p class="flex items-center h-10  mt-1  px-4 w-full bg-gray-50"><%=addressColection.country %> </p>
                  </div>
                </div>

                <div class="md:col-span-2">
                  <label for="state">State / province</label>
                  <div class="h-10 bg-gray-50 flex border border-gray-200 rounded items-center mt-1">
                    <p class="flex items-center h-10  mt-1  px-4 w-full bg-gray-50"><%=addressColection.state %> </p>

                  </div>
                </div>

                <div class="md:col-span-1">
                  <label for="zipcode">Pin code</label>
                  <p class=" flex items-center h-10 border mt-1 rounded px-4 w-full bg-gray-50">
                    <%=addressColection.zipcode %> 
                  </p>
                </div>
                <!-- Other fields ... -->

                <div class="md:col-span-5 text-right">
                  <div class="inline-flex items-end">
                    <a href="/removeAddress/<%=addressColection._id %>" class="bg-orange-400 text-white font-bold py-2 px-4 rounded inline-block">
                      REMOVE
                    </a>
                   </div>
                </div>
              </div>
            </div>
          </form orm>
          
          <div class="flex justify-end">
            <a type="button" href="#" onclick="showModal()"
              class="editAddress bg-blue-500 text-white font-bold py-2 px-4 rounded inline-block"
              data-product-id="<%=addressColection._id %>" data-mydata='{"key1": "<%=addressColection.full_name %>" ,"key3": "<%=addressColection.address %>", "key4": "<%=addressColection.phone %>" ,"key5": "<%=addressColection.city %>", "key6": "<%=addressColection.country %>" ,"key7": "<%=addressColection.state %>" ,"key8": "<%=addressColection.zipcode %>" }'  >
              EDIT
            </a>
          </div>
    </div>
    </div>
    </div>

    <% }) %>

    <%- include("../partials/footer.ejs") %>


    <script>
      let a='';
      let select = document.querySelectorAll(".selectad");
      select.forEach((value)=>{
        value.addEventListener("change",()=>{
      addressId = value.dataset.addressId
    })
  })
  function selectAddress(){
    window.location.href = `/user?id=${addressId}`
        }
    </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.7.5/lottie.min.js"></script>

    <script>
      bodymovin.loadAnimation({
          container: document.getElementById('confirm'),
          path:'/json/address.json',
          loop:false,
      });
      </script>
      
<!-- ++++++++++++++++++++++++++++++++++++++++++++++++     edit ADDRESS    ++++++++++++++++++++++++++++++++++++++++++++++++++ -->

      <div id="editModel" class="fixed inset-0 z-50 hidden overflow-auto bg-black bg-opacity-50">
        <div class="flex items-center justify-center h-full">
          <div class="bg-white p-8 rounded shadow-lg">

            <div class="flex justify-end">
              <button id="editCloseModal" class="text-gray-600 hover:text-gray-800">&times;</button>
            </div>

            <div>
              <h2 class="font-semibold text-xl text-gray-600">EDIT ADDRESS</h2>

              <div class="bg-white rounded shadow-lg p-4 px-4 md:p-8 mb-6">
                <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 lg:grid-cols-3">
                  <div class="text-gray-600">
                    <p class="font-medium text-lg">Personal Details</p>
                    <p>Add your personal details.</p>
                  </div>
                  <form id="formId" action="" method="post" onsubmit="return va()">
                  <div class="lg:col-span1">
                    <div class="grid gap-4 gap-y-2 text-sm grid-cols-1 md:grid-cols-5">

                      <div class="md:col-span-3">
                        <label for="">Full Name</label>
                        <input type="text" name="full_name1" id="full_name1" oninput="nameValidation1()"
                          class=" h-10 border mt-1 rounded px-4 w-full bg-gray-50"  />
                          <p id="nameError1" class="text-xs text-red-500"></p>

                      </div>

                      
                      <div class="md:col-span-2">
                        <label for="Phone">Phone number</label>
                        <input type="text" name="Phone1" id="Phone1" oninput="numberValidation1()"
                          class="transition-all flex items-center h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                          placeholder=""  />
                          <p id="phoneError1" class="text-xs text-red-500"></p>
                      </div>

               

                      <div class="md:col-span-3">
                        <label for="address">Address / Street</label>
                        <input type="text" name="address1" id="address1" oninput="addressValidation1()"
                          class="h-10 border mt-1 rounded px-4 w-full bg-gray-50" value="" placeholder="" />
                          <p id="addressError1" class="text-xs text-red-500"></p>
                        </div>

                      <div class="md:col-span-2">
                        <label for="city">City</label>
                        <input type="text" name="city1" id="city1" class="h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                          value="" placeholder="" />
                      </div>

                      <div class="md:col-span-2">
                        <label for="country">Country / region</label>
                        <div class="h-10 bg-gray-50 flex border border-gray-200 rounded items-center mt-1">
                          <input name="country1" id="country1" placeholder="Country"
                            class="px-4 appearance-none outline-none text-gray-800 w-full bg-transparent" value="" />
                          <button tabindex="-1"
                            class="cursor-pointer outline-none focus:outline-none transition-all text-gray-300 hover:text-red-600">
                            
                          </button>
                         
                        </div>
                      </div>

                      <div class="md:col-span-2">
                        <label for="state">State / province</label>
                        <div class="h-10 bg-gray-50 flex border border-gray-200 rounded items-center mt-1">
                          <input name="state1" id="state1" placeholder="State"
                            class="px-4 appearance-none outline-none text-gray-800 w-full bg-transparent" value="" />
                        
                         
                        </div>
                      </div>

                      <div class="md:col-span-1">
                        <label for="zipcode">Pin code</label>
                        <input type="text" name="zipcode1" id="zipcode1" oninput="pinValidation1()"
                          class="transition-all flex items-center h-10 border mt-1 rounded px-4 w-full bg-gray-50"
                          placeholder="" value="" />
                          <p id="zipcodeError1" class="text-xs text-red-500"></p>

                        </div>

                      <div class=md:col-span-5 text-right">
                        <div class="inline-flex items-end">
                          <button onclick="updateAction()" type="submit" id="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">Submit</button>
                        </div>
                      </div>

                    </div>
                  </div>
                  <p  id="alert1" class="text-red-600 text-xs"></p>

                </form>

                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

      <script>
        let mod= document.getElementById('editModel')
        let productId
        // Alpine.js script to toggle modal visibility
        const editAddress= document.querySelectorAll('.editAddress')
        editAddress.forEach(element => {
          element.addEventListener('click', function () {
            mod.classList.remove('hidden');
            let name = document.getElementById("full_name1");
            let address = document.getElementById("address1");
            let city = document.getElementById("city1");
            let country = document.getElementById("country1");
            let state = document.getElementById("state1");
            let zipcode = document.getElementById("zipcode1");
            let Phone1 = document.getElementById("Phone1");
            
          productId = element.dataset.productId;

          var myObject = JSON.parse(element.dataset.mydata);  
           console.log(myObject);
           name.value =myObject.key1
           address.value = myObject.key3
           Phone1.value = myObject.key4
           city.value = myObject.key5
           country.value = myObject.key6
           state.value = myObject.key7
           zipcode.value = myObject.key8  
          });
        });
        document.getElementById('editCloseModal').addEventListener('click', function () {
          console.log("hai");
          mod.classList.add('hidden');
        });

     
       function updateAction(){
        formId.action = `/editAddress/${productId}`
    //     const name = document.getElementById("full_name1").value;
    // const address = document.getElementById("address1").value;
    // const alert = document.getElementById("alert1");

    // if (address.trim() === "" || name.trim() === "" ) {
    //         alert.innerHTML="please fill all the field"
    //         return false; 
    //       }
    // return nameValidation() && emailValidation()
  
       }

      </script>


<script>
  // function va(){
  //   const name = document.getElementById("full_name1").value;
  //   const address = document.getElementById("address1").value;
  //   const alert = document.getElementById("alert1");

  //   if (address.trim() === "" || name.trim() === "" ) {
  //           alert.innerHTML="please fill all the field"
  //           return false; 
  //         }
  //   return nameValidation() && pinValidation()
  // }

    function nameValidation1() {
    const name = document.getElementById("full_name1").value.trim();
    const nameError = document.getElementById("nameError1");
    
    // Regular expression to check if the name contains only letters
    const onlyLettersRegex = /^[a-zA-Z]+$/;

    if (name === '') {
        nameError.innerText = "Name cannot be empty";
        return false; // Indicate validation failure
    } else if (!onlyLettersRegex.test(name)) {
        nameError.innerText = "Name can only contain letters";
        return false; // Indicate validation failure
    } else if (name.length < 5) {
        nameError.innerText = "Name should be at least 5 characters long";
        return false; // Indicate validation failure
    } else {
        nameError.innerText = ""; // Clear error message
        return true; // Indicate validation success
    }
}

    function addressValidation1() {
    const name = document.getElementById("address1").value.trim();
    const nameError = document.getElementById("addressError1");

    if (name === '' ) {
        nameError.innerText = "Can not add space";
        return false; // Indicate validation failure
    } else if(name.length > 15 ){
        nameError.innerText = "words should not exceed above 15";
        return false; // Indicate validation failure
    }
    else {
        nameError.innerText = ""; // Clear error message
        return true; // Indicate validation success
    }
}

function numberValidation1() {
    const name = document.getElementById("Phone1").value.trim();
    const nameError = document.getElementById("phoneError1");

    if (name === '' ) {
        nameError.innerText = "Can not add space";
        return false; // Indicate validation failure
    } else if(name.length > 10 ){
        nameError.innerText = "number should not exceed above 10";
        return false; // Indicate validation failure
    }else if(isNaN(name)){
      nameError.innerText = "should be number"
        }
    else {
        nameError.innerText = ""; // Clear error message
        return true; // Indicate validation success
    }
}


function pinValidation1() {
    const name = document.getElementById("zipcode1").value.trim();
    const nameError = document.getElementById("zipcodeError1");

    if (name === '' ) {
        nameError.innerText = "Can not add space";
        return false; // Indicate validation failure
    } else if(name.length > 6 ){
        nameError.innerText = "number should not exceed above 6";
        return false; // Indicate validation failure
    }else if(isNaN(name)){
      nameError.innerText = "should be number"
        }
    else {
        nameError.innerText = ""; // Clear error message
        return true; // Indicate validation success
    }
}

</script>

</body>
</html>