<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ORDER</title>
    <link rel="icon" type="image/x-icon" href="/image/icons8-n-50.png">
        <link rel="stylesheet" href="/dist/output.css">
</head>
<body>
    <%- include('../partials/navbar.ejs') %>

    <!-- component -->
<div class="py-14 px-4 md:px-6 2xl:px-20 2xl:container 2xl:mx-auto">
    <!--- more free and premium Tailwind CSS components at https://tailwinduikit.com/ --->

    <div class="flex justify-start item-start space-y-2 flex-col">
      <h1 class="text-3xl  lg:text-xl font-semibold leading-7 lg:leading-9 text-gray-800">ORD  <%= String(orderDetails._id).slice(19) %>
      <p class="text-base  font-medium leading-6 text-gray-600"> DATE :- <%= new Date(orderDetails.createdAt ).toISOString().slice(0, 10) %></p>
    </div>
    <div class="mt-10 flex flex-col xl:flex-row jusitfy-center items-stretch w-full xl:space-x-8 space-y-4 md:space-y-6 xl:space-y-0">
      <div class="flex flex-col justify-start items-start w-full space-y-4 md:space-y-6 xl:space-y-8">
        <div class="flex flex-col justify-start items-start dark:bg-gray-2  00 bg-gray-50 px-4 py-4 md:py-6 md:p-6 xl:p-8 w-full">
          <p class="text-lg md:text-xl  font-semibold leading-6 xl:leading-5 text-gray-800">Customer’s Cart</p>
          <% let subTotalPrice=0 %>
          <% let sizeLib = {
            0 : '6',
            1 : '7',
            2 : '8',  
            3 : '9'
          } %>
          <% productIdData.forEach((proId)=>{ %>
                <%proId.size.forEach((size,i)=>{%>
                 <% if(size!==0){%>

                     
           <% const fullProducts=productData.find(item=> item._id.equals(proId.product)) %>
  
          <di v class="mt-4 md:mt-6 flex flex-col md:flex-row justify-start items-start md:items-center md:space-x-6 xl:space-x-8 w-full">
            <div class="pb-4 md:pb-8 w-full md:w-40">
              <img class="w-full hidden md:block" src="<%= fullProducts.product_img_url[0] %>" alt="dress" />
              <img class="w-full md:hidden" src="<%= fullProducts.product_img_url[0] %>" alt="dress" />
            </div>
            <div class="border-b border-gray-200 md:flex-row flex-col flex justify-between items-start w-full pb-8 space-y-4 md:space-y-0">
              <div class="w-full flex flex-col justify-start items-start space-y-8">
                <h3 class="text-xl  xl:text-2xl font-semibold leading-6 text-gray-800"><%= fullProducts.product_name %></h3>
                <div class="flex items-start flex-col space-y-2">
                  <p class="text-sm  leading-none text-gray-800 font-medium"><span class="dark:text-gray-400 text-gray-300">Size : </span>  <%= sizeLib[i]%></p>
                </div>
           

              </div>
             
              <div class="flex justify-between space-x-8 items-start w-full">
                <p class="text-base  pl-11 xl:text-lg leading-6"><%=proId.price  %> <span class="text-red-300 line-through"> <%= fullProducts.product_price +1000 %></span></p>
                <p class="text-base   xl:text-lg leading-6 text-gray-800">0<%= size %></p>
              
              </div>
              
            </div>
          </di>
            <%subTotalPrice += fullProducts.product_price * size  %> 
            
          <%}%>
          <%})%>
          <% }) %>

            <div id="popup-modal" tabindex="-1" class="hidden flex overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                <div class="relative p-4 w-full max-w-md max-h-full">
                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                        
                        <div class="p-4 md:p-5 text-center">
                            <svg class="mx-auto mb-4 text-gray-400 w-12 h-12 dark:text-gray-200" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M10 11V6m0 8h.01M19 10a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                            </svg>
                            <h3 class="mb-5 text-lg font-normal text-gray-500 dark:text-gray-400">Are you sure you want to cancel this product?</h3>
                            <button id="cancelBtn" data-modal-hide="popup-modal" type="button" class="text-white bg-red-600 hover:bg-red-800 focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-lg text-sm inline-flex items-center px-5 py-2.5 text-center me-2">
                                Yes, I'm sure
                            </button>
                                 <!-- <input class="h-9 rounded-md text-center" type="text" placeholder=" Reason"> -->
                          </div>
                    </div>
                </div>
            </div>
    
        </div>
        <div class="flex justify-center flex-col md:flex-row  items-stretch w-full space-y-4 md:space-y-0 md:space-x-6 xl:space-x-8">
          <div class="flex flex-col px-4 py-6 md:p-6 xl:p-8 w-full bg-gray-50 dark:bg-gray-200 space-y-6">
            <h3 class="text-xl  font-semibold leading-5 text-gray-800">Summary</h3>
            <div class="flex justify-center items-center w-full space-y-4 flex-col border-gray-200 border-b pb-4">
              <div class="flex justify-between w-full">
                <p class="text-base  leading-4 text-gray-800">Payment Mode</p>
                <p class="text-base leading-4 text-gray-600"><%= orderDetails.paymentMethod %></p>
              </div>

              <div class="flex justify-between w-full">
                <p class="text-base  leading-4 text-gray-800">Subtotal</p>
                <p class="text-base leading-4 text-gray-600"><%= subTotalPrice %></p>
              </div>
              <div class="flex justify-between items-center w-full">
                <p class="text-base  leading-4 text-gray-800">Shipping charge</p>
                <p class="text-base  leading-4 text-gray-600">10.00</p>
              </div>
              <div class="flex justify-between items-center w-full">
                <p class="text-base  leading-4 text-gray-800">Discount</p>  
                <p class="text-base  leading-4 text-gray-600"><%=couponData%></p>
              </div>
            </div>
            <div class="flex justify-between items-center w-full">
              <p class="text-base  font-semibold leading-4 text-gray-800">Total</p>
              <p id="totalAmount"  class="text-base font-extrabold underline leading-4  text-gray-600"><%= orderDetails.totalAmount %></p>
            </div>
          </div>
          
        </div>
      </div>

      <div class="bg-gray-50 dark:bg-gray-200 w-full xl:w-96 flex justify-between items-center md:items-start px-4 py-6 md:p-6 xl:p-8 flex-col">
        <h3 class="text-xl font-semibold leading-5 text-gray-800">Customer</h3>
        <div class="flex flex-col md:flex-row xl:flex-col justify-start items-stretch h-full w-full md:space-x-6 lg:space-x-8 xl:space-x-0">
          <div class="flex flex-col justify-start items-start flex-shrink-0">
            <div class="flex justify-center w-full md:justify-start items-center space-x-4 py-8 border-b border-gray-200">
              <img src="/upload/<%= userDetails.user_img_url %>" alt="ADD PICTURE" class="rounded-full h-16 w-16 mb-4">
              <div class="flex justify-start items-start flex-col space-y-2">
                <p class="text-base  font-semibold leading-4 text-left text-gray-800"><%=userDetails.name%></p>
                <p class="text-sm  leading-5 text-gray-600">10 Previous Orders</p>
              </div>
            </div>
  
            <div class="flex justify-center text-gray-800  md:justify-start items-center space-x-4 py-4 border-b border-gray-200 w-full">
              <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M19 5H5C3.89543 5 3 5.89543 3 7V17C3 18.1046 3.89543 19 5 19H19C20.1046 19 21 18.1046 21 17V7C21 5.89543 20.1046 5 19 5Z" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
                <path d="M3 7L12 13L21 7" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" />
              </svg>
              <p class="cursor-pointer text-sm leading-5 "><%=userDetails.email%></p>
            </div>
          </div>
          <div class="flex justify-between xl:h-full items-stretch w-full flex-col mt-6 md:mt-0">
            <div class="flex justify-center md:justify-start xl:flex-col flex-col md:space-x-6 lg:space-x-8 xl:space-x-0 space-y-4 xl:space-y-12 md:space-y-0 md:flex-row items-center md:items-start">
              <div class="flex justify-center md:justify-start items-center md:items-start flex-col space-y-4 xl:mt-8">
                <p class="text-base  font-semibold leading-4 text-center md:text-left text-gray-800">Shipping Address</p>
                <p class="w-48 lg:w-full xl:w-48 text-center md:text-left text-sm leading-5 text-gray-600"><%=orderDetails.shippingAddress.address%></p>
              </div>

              <div class="flex justify-center md:justify-start items-center md:items-start flex-col space-y-4 xl:mt-8">
                <p class="text-base  font-semibold leading-4 text-center md:text-left text-gray-800">Phone Number</p>
                <p class="w-48 lg:w-full xl:w-48 text-center md:text-left text-sm leading-5 text-gray-600"><%=orderDetails.shippingAddress.phone%></p>
              </div>

              <div class="flex justify-center md:justify-start items-center md:items-start flex-col space-y-4 xl:mt-8">
                <p class="text-base  font-semibold leading-4 text-center md:text-left text-gray-800">State</p>
                <p class="w-48 lg:w-full xl:w-48 text-center md:text-left text-sm leading-5 text-gray-600"><%=orderDetails.shippingAddress.state%></p>
              </div>

              <div class="flex  justify-center md:justify-start items-center md:items-start flex-col space-y-4 xl:mt-8">
                <p class="text-base  font-semibold leading-4 text-center md:text-left text-gray-800">City</p>
                <p class="w-48 lg:w-full xl:w-48 text-center md:text-left text-sm leading-5 text-gray-600"><%=orderDetails.shippingAddress.city%></p>
              </div>
             
            </div>
          </div>

          <div>
            
            <p class="text-base font-semibold text-center py-8 md:text-left text-gray-800">
              Order Status :
              <% if (orderDetails.Status == 'DEVLIVERED') { %>
                <span class="text-green-500"> <%= orderDetails.Status %> </span>
              <% } else { %>
                <span class="text-red-300"> <%= orderDetails.Status %> </span>
              <% } %>
            </p>  
            <% if(orderDetails.Status == "CANCEL" ){ %>

                <% }else if( orderDetails.Status ==  "DEVLIVERED"){ %>
                  <button id="" value="RETURN" data-pro-id="" data-ord-id="<%= orderDetails._id%>" class="bg-red-500 text-white font-bold py-2 px-4 rounded inline-block">
                    RETURN ORDER
                    </button>
              <% }else if( orderDetails.Status ==  "RETURN"){ %>
          
            <% }else{%>
              
              <div class="">
                <button id="" value="CANCEL" data-pro-id="" data-ord-id="<%= orderDetails._id%>" class="bg-red-500 text-white font-bold py-2 px-4 rounded inline-block">
                  CANCEL ORDER
                </button>
              </div>
             <% } %>

          </div>
          
        </div>
      </div>
    </div>
  </div>
 
  <% if(orderDetails.Status == "DEVLIVERED" || orderDetails.Status ==  "RETURN" ){ %>
    <div class="flex justify-end mb-14 mr-20">
      <p type="menu" class="bg-gray-400 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded">
        <a href="/invoice/<%=orderDetails._id%>" class="text-white no-underline"> Invoice Download</a>
      </p>
    </div>
               <%}else{%>

        <%}%>

  


  <%- include("../partials/footer.ejs") %>
  <script>

        const buttons = document.querySelectorAll("button");
        const popupModal = document.getElementById('popup-modal');
        const cancelBtn = document.getElementById('cancelBtn');
        const totalAmount = document.getElementById('totalAmount')
        let amount = totalAmount.textContent
        buttons.forEach(button => {
        button.addEventListener("click",()=>{
          let proId = button.dataset.proId
        let ordId = button.dataset.ordId
        popupModal.classList.remove('hidden');
        cancelBtn.addEventListener("click",()=>{
          console.log(button.value);
          const statusValue = button.value


        
            popupModal.classList.add('hidden');
        fetch('/orderCancel', {
         method: 'POST',
         redirect: 'follow',
         headers: {
           'Content-Type': 'application/json'
         },
         body: JSON.stringify({proId ,ordId ,amount ,statusValue})
       })
       .then(res=>res.json())
       .then(data => {
        if(data.success){
               window.location.reload()
            }})
       .catch(err => console.log(err))
       
         
      //       const a = totalAmount.value
        
      //       fetch('/walletReturn', {
      //    method: 'POST',
      //    redirect: 'follow',
      //    headers: {
      //      'Content-Type': 'application/json'
      //    },
      //    body: JSON.stringify({proId ,ordId ,amount})
      //  })
      //  .then(res=>res.json())
      //  .then(data => {
      //   if(data.success){
      //          window.location.reload()
      //       }})
      //  .catch(err => console.log(err))

          
         
        })
       
        })
      })



     </script>
</body>
</html>