<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/dist/output.css">
</head>
<body>
  <%- include('../partials/navbar.ejs') %>
  <div class="shadow-lg rounded-lg py-16" >
    <table class="w-full table-fixed">
          <thead>
            <tr class="bg-gray-200">
              <th class="w-1/6 py-4 px-6 text-left text-gray-600 font-bold uppercase">Order ID</th>
              <th class="w-1/4 py-4 px-6 text-left text-gray-600 font-bold uppercase">Iteams</th>
              <th class="w-1/6 py-4 px-6 text-center text-gray-600 font-bold uppercase">Total Amount</th>
              <th class="w-1/6 py-4 px-6 text-center text-gray-600 font-bold uppercase">Payment Mode</th>
              <th class="w-1/4 py-4 px-6 text-left  text-gray-600 font-bold uppercase">Shipping address</th>
              <th class="w-14 py-4 text-left text-gray-600 font-bold uppercase"></th>
     
            </tr>
          </thead>
          <tbody class="bg-white">
            <% orderDetails.forEach((pro)=>{ %>
            <tr>
               <td class="py-4 px-6 border-b border-gray-200"> ODR <%= String(pro._id).slice(19) %></td>
              <td class="py-4 px-6 border-b border-gray-200">
                <% let sizeLib = {
                  0 : 'S',
                  1 : 'M',
                  2 : 'L',
                  3 : 'XL'
                } %>
                 <% pro.products.forEach(prd=>{ %>
                  <% let product = productData.find(item=> item._id.equals(prd.product)) %>
                  <% prd.size.forEach((size,i)=>{ %>
                    <% if(size!==0){ %>
                        <%=product.product_name%> - (<%=sizeLib[i]%>)<br>
                      <% }%>
                   <% }) %>
                     <% }) %>
              </td>
              <td class="py-4 px-6 border-b border-gray-200 text-center"><%= pro.totalAmount %></td>
              <td class="py-4 px-6 border-b border-gray-200 text-center"><%= pro.paymentMethod %></td>
              <td class="py-4 px-6 border-b border-gray-200">
                <% const address=addressData.find(item=> item._id.equals(pro.shippingAddress)); %>
                <%= address.address %></td>
              <td><a href="/order/<%= pro._id %>" class="bg-blue-500 rounded text-white px-1 py-1">VIEW</a></td>
            </tr>
              <%  })  %>
     
          </tbody>
        </table>
      </div>
 
 
      <section class="my-6">
        <div class="pagination flex justify-center gap-4">
          <% if (paginate.hasPreviousPages) { %>
            <a href="?page=<%= paginate.page - 1 %>"
              class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">Previous</a>
            <% } %>
      
              <% if (paginate.hasNextPages && page < maxPage) { %>
                <a href="?page=<%= paginate.page + 1 %>"
                  class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-700 focus:bg-blue-700 focus:outline-none transition duration-300 ease-in-out">
                  Next
                </a>
                <% } %>
                <p class="text-gray-900 font-bold items-center  ml-5"><%= paginate.page %> out of <%= maxPage %></p>
      
        </div>
      </section>

      <%- include("../partials/footer.ejs") %>
      
</body>
</html>