<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/dist/output.css">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">  
  
</head>

<body class="font-sans">

    <%- include("../partials/navbar.ejs") %>

    <% if (!wishlistData) { %>
    <div class="flex-col flex my-8 w-full justify-center items-center">
        <img src="upload/Empty Wishlist.jpeg" alt="" class="w-2/3 sm:w-1/2 md:w-1/3 lg:w-1/4">
    </div>
    <% } else { %>

    <div class="bg-white px-4 sm:px-6 lg:px-8 py-8 w-full sm:w-11/12 md:w-10/12 lg:w-9/12 xl:w-8/12 mx-auto">

        <div class="flex flex-col sm:flex-row justify-between border-b pb-4 sm:pb-8">
            <h1 class="font-semibold text-2xl mb-4 sm:mb-0">Wishlist</h1>
            <h2 class="font-semibold text-xl underline">Items</h2>
        </div>

        <div class="flex flex-col sm:flex-row justify-around mt-4 sm:mt-8 mb-2 sm:mb-4 text-center">
            <h3 class="font-semibold text-gray-600 text-xs uppercase mb-2 sm:mb-0">Product Details</h3>
            <h3 class="font-semibold text-gray-600 text-xs uppercase mb-2 sm:ml-4"></h3>
            <h3 class="font-semibold text-gray-600 text-xs uppercase mb-2 sm:ml-4"></h3>
            <h3 class="font-semibold text-gray-600 text-xs uppercase mb-2 sm:ml-4">Price</h3>
            <h3 class="font-semibold text-gray-600 text-xs uppercase">Action</h3>
        </div>

        <% wishlistData.products.forEach((wishData) => { %>
        <% const product = productData.find(item => item._id.equals(wishData.product)) %>

        <div class="flex flex-col sm:flex-row justify-around items-center hover:bg-gray-100 -mx-4 px-4 py-4 w-full mb-4 sm:mb-6">

            <div class="flex-shrink-0 w-full sm:w-1/5">
                <img class="h-20 sm:h-16 md:h-20 lg:h-24 xl:h-20" src="<%=product.product_img_url[0]%>" alt="">
            </div>

            <div class="flex flex-col justify-between ml-0 sm:ml-4 flex-grow mb-2 sm:mb-0">
                <span class="font-bold text-sm"><%=product.product_name%></span>
                <span class="text-red-500 text-xs"><%=product.product_category%></span>
                <span class="font-bold text-xs"></span>
            </div>

            <span class="text-center w-full sm:w-1/5 font-semibold text-sm mb-2 sm:mb-0"><%=product.product_price%></span>

            <button id="" data-remove-id="" data-size-ind=""
                class="removebtd bg-blue-500 rounded px-3 py-1 h-8 font-semibold text-xs underline mb-2 sm:mb-0 text-red-300">
                <a href="/wishlistRemove/<%=product._id%>">REMOVE</a>
            </button>
            <%let addData%>
            <%if(cartData){%>
              <% addData = cartData.find((iteam)=>iteam.product.equals(product._id))%>
             
            <%}%>
            <%if(addData){%>
              <button 
                class=" bg-blue-500 rounded  px-3 py-1 h-8 mb-2 sm:mb-0 sm:ml-2"> IN CART  
            </button>
               <%}else{%>
                <button value="<%=product._id%>"
                    class="viewButton bg-blue-500 rounded text-white px-6 py-1 h-8 mb-2 sm:mb-0 sm:ml-2">ADD
                </button>
                <%}%>

        </div>
        <% }) %>

        <a href="/shop" class="flex font-semibold text-indigo-600 text-sm mt-4 sm:mt-8">
            <svg class="fill-current mr-2 text-indigo-600 w-4"
                viewBox="0 0 448 512"><path
                    d="M134.059 296H436c6.627 0 12-5.373 12-12v-56c0-6.627-5.373-12-12-12H134.059v-46.059c0-21.382-25.851-32.09-40.971-16.971L7.029 239.029c-9.373 9.373-9.373 24.569 0 33.941l86.059 86.059c15.119 15.119 40.971 4.411 40.971-16.971V296z" />
            </svg>
            Continue Shopping
        </a>

    </div>

    <% } %>
    <%- include("../partials/footer.ejs") %>


    <script>
// Get all elements with the class "viewButton"
var addBtns = document.querySelectorAll('.viewButton');

// Add a click event listener to each button
addBtns.forEach(button => {
  button.addEventListener('click', function() {
    var productId = this.value;
    console.log('Product ID:', productId);

    fetch('/addToCart', {
         method: 'POST',
         redirect: 'follow',
         headers: {
           'Content-Type': 'application/json'
         },
         body: JSON.stringify({productId})
       })
       .then(res=>res.json())
       .then(data => {
        if(data.success){
               window.location.reload()
            }})
       .catch(err => console.log(err))

       
      Toastify({
          text: "Added to Cart",
          duration: 600,
          destination: "https://github.com/apvarun/toastify-js",
          newWindow: true,
          close: true,
          gravity: "top", // `top` or `bottom`
          position: "center", // `left`, `center` or `right`
          stopOnFocus: true, // Prevents dismissing of toast on hover
          style: {
            background: " #4CAF50  ",
          },
          onClick: function(){
            alert("Toast clicked!");
          }
        }).showToast();
  });
});



    </script>

</body>
</html>
